<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - abqwitchesball</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/abqwitchesball.styles.css" asp-append-version="true" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Freckle+Face&display=swap" rel="stylesheet">
</head>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        list-style-type:none;
    }
</style>
<body>
    <header>
        <h1>
            <p class="caudex-regular" style="background-color: black;color:white;">Albuquerque Witches Ball 2026</a></p>
        </h1>
        
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted caudex-regular">
        <div style="background-color: black;color: white;" class="container">
            <table cellspacing="5" cellpadding="5">
                <tr>
                    <td><a href="http://www.instagram.com/abqwitchesball" target="_blank">
                                <img src="img/instagram.png" alt="Instagram" />
                            </a>
                        </td><td>
                            <a href="https://www.facebook.com/ABQWitchesBall?mibextid=ZbWKwL" target="_blank">
                                <img src="img/facebook-1.png" alt="Facebook" />
                            </a></td><td>
                            <a href="mailto:witchesballabq@gmail.com" target="_blank">
                                <img src="img/email.png"
                                     alt="Email" />
                            </a></td>
                </tr>
            </table><br />
            
            <p>&copy; 2026 - abqwitchesball </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
