@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        display: block;
        margin: auto;
    }
</style>
<div style="background-color: black;color: white;" class="text-center caudex-regular">
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>
                <a href="https://abqwitchesball.substack.com/" target="_blank">
                    <img src="img\savethedate.jpg" alt="ABQ Witches Ball Save the Date November 7 2026" style="width:50%;" />
                </a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
